spring:
  jakson:
    serialization:
      write-dates-as-timestamps: false
    time-zone: Asia/Seoul
  jpa:
    show-sql: true
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 200