@charset "UTF-8";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Pretendard', 'Noto Sans KR', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
}

/* 링크, 리스트, 버튼, 입력창 초기화 */
a { text-decoration: none; color: inherit; cursor: pointer; }
ul, ol, li { list-style: none; }
button { background: none; border: none; cursor: pointer; font-family: inherit; }
input, select, textarea { font-family: inherit; outline: none; }

/* =========================================
   공통 레이아웃
   ========================================= */
/* Outer Wrapper(main영역) */
.page-wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding-bottom: 0;
}

/* Inner Container(실제 컨텐츠 영역) */
.main-container {
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
    padding: 50px 20px;
}
/* 페이지 제목 */
.list-title {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 700;
    color: #000;
}
/* 날짜  */
.date-input { width: 200px; }
/* 카테고리 selet */
.category-select { width: 100px; }
/* 검색창  */
.keyword-input { width: 300px; }
/* 검색 버튼 */
.btn-search {
    background-color: #4a80f5;
    color: white;
    border: none;
    border-radius: 4px;
    height: 40px;
    padding: 0 25px;
    font-weight: 600;
    cursor: pointer;
    margin-left: auto;
    transition: background-color 0.2s;
}
.btn-search:hover { background-color: #3a6bd6; }
/* 등록버튼 */
.btn-register {
    background-color: #4a80f5;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 600;
    transition: background-color 0.2s;
}
.btn-register:hover { background-color: #3a6bd6; }
/* 등록 및 목록 버튼 공통 디자인 */
.btn-submit, .btn-list {
    width: 120px ;
    height: 48px ;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    border-radius: 12px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s;
}
/* 목록 버튼 */
.btn-list {
    background-color: #ffffff;
    color: #333333 ;
    border: 1px solid #e0e0e0 ;
}
.btn-list:hover {
    background-color: #f8f9fa;
    border-color: #cccccc ;
}
/* 저장(제출) 버튼  */
.btn-submit {
    background-color: #4a80f5 ;
    color: #ffffff ;
    border: none ;
    /*box-shadow: 0 4px 6px rgba(74, 128, 245, 0.2) !important;*/
}
.btn-submit:hover {
    background-color: #3a6bd6 ;
}