main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    margin: 0;
}

.buttons {
    margin-top: 60px;
}

.buttons a {
    padding: 6px 8px;
    border: 1px solid #aaa;
    border-radius: 8px;
}