@charset "UTF-8";

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-containers {
    display: flex;
    flex-align: column;
}

.table-container h5 {
    width: fit-content;
    margin-right: auto;
    font-size: 16px;
}

.table-container table {
    background: #aaa;
    border-radius: 10px;
    font-size: 16px;
}

.table-container table tr {
}

.table-container table td {
}

.table-container table td:nth-child(1) {
    color: #6B7280;
}

.buttons a {
    padding: 6px 8px;
    border-radius: 8px;
    border: 1px solid #c4c4c4;
}