<div class="div">
    <div class="main">
        <div class="frame-1">
            <div class="frame-3">
                <div class="div2">엔드 앤드</div>
                <img class="image-1" src="image-10.png" />
                <div class="div3">콘서트 장소</div>
                <div class="_2026-1-1-1-10">2026.1.1 ~ 1.10</div>
            </div>
            <div class="frame-4">
                <div class="div2">엔드 앤드</div>
                <img class="image-1" src="image-11.png" />
                <div class="div3">콘서트 장소</div>
                <div class="_2026-1-1-1-10">2026.1.1 ~ 1.10</div>
            </div>
            <div class="frame-5">
                <div class="div2">엔드 앤드</div>
                <img class="image-1" src="image-12.png" />
                <div class="div3">콘서트 장소</div>
                <div class="_2026-1-1-1-10">2026.1.1 ~ 1.10</div>
            </div>
            <div class="frame-6">
                <div class="div2">엔드 앤드</div>
                <img class="image-1" src="image-13.png" />
                <div class="div3">콘서트 장소</div>
                <div class="_2026-1-1-1-10">2026.1.1 ~ 1.10</div>
            </div>
            <div class="frame-7">
                <div class="div2">엔드 앤드</div>
                <img class="image-1" src="image-14.png" />
                <div class="div3">콘서트 장소</div>
                <div class="_2026-1-1-1-10">2026.1.1 ~ 1.10</div>
            </div>
        </div>
        <div class="group-20">
            <div class="group-15">
                <div class="ellipse-1"></div>
                <div class="_1">1</div>
            </div>
            <div class="group-18">
                <div class="ellipse-12"></div>
                <img class="forward" src="forward0.png" />
            </div>
            <div class="group-19">
                <div class="ellipse-13"></div>
                <img class="forward2" src="forward1.png" />
            </div>
            <div class="group-16">
                <div class="ellipse-14"></div>
                <div class="_2">2</div>
            </div>
            <div class="group-17">
                <div class="ellipse-15"></div>
                <div class="_3">3</div>
            </div>
        </div>
        <div class="_12">’엔드 앤드&#039; 검색 결과 (12개)</div>
    </div>
    <div class="header">
        <div class="frame-10">
            <div class="div4">엔드 앤드</div>
            <div class="rectangle-1"></div>
            <img class="search" src="search0.svg" />
            <div class="group-62">
                <div class="div5">로그인</div>
                <img class="user" src="user0.svg" />
            </div>
            <div class="div6">마이페이지</div>
        </div>
        <div class="kids">KIDS</div>
        <div class="div7">해외뮤지션</div>
        <div class="quick-ticket">
      <span>
        <span class="quick-ticket-span">Quick</span>
        <span class="quick-ticket-span2">Ticket</span>
      </span>
        </div>
        <div class="div8">트로트</div>
        <div class="classic">CLASSIC</div>
        <div class="kpop">KPOP</div>
        <img class="settings" src="settings0.svg" />
    </div>
    <div class="footer">
        <div class="frame-102">
            <div class="quick-ticket2">
        <span>
          <span class="quick-ticket-2-span">Quick</span>
          <span class="quick-ticket-2-span2">Ticket</span>
        </span>
            </div>
            <div class="_000-00-00000-0000-0000-0000">
                대표 홍길동
                <br />
                주소 서울시 -
                <br />
                사업자등록번호 000-00-00000
                <br />
                통신판매업신고 0000-0000-0000
            </div>
            <div class="frame-19">
                <div class="div9">이용약관</div>
                <div class="div9">개인정보처리방침</div>
                <div class="div9">티켓판매안내</div>
                <div class="div9">공지사항</div>
                <div class="div9">이용안내</div>
            </div>
            <div class="_0000-0000-0000-com">
                고객센터 0000-0000
                <br />
                이메일 0000.com
                <br />
                채팅 문의
            </div>
            <div class="div10">문의</div>
        </div>
    </div>
</div>
